# Aula 05 - Introdução ao List Comprehension e Format

> Nessa aula iremos dar introdução ao list comprehension, uma forma mais simples de realizar conversões de valores entre duas ou mais listas. atualmente é uma das formas mais rápidas de aplicar conversões, substituindo as declarações mais extensas do que o metodo conversional, lambda e o map

## Exemplo 1 - Conversão de Celsius para Fahrenheit

In [1]:
celsius = [10, 20, 24, 35, 50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print (fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

## Exemplo 2 - Conversão de Kmh para Mph

In [2]:
Kmh = [100, 25, 70, 80, 180]
Mph = [round (x/1.61,2) for x in Kmh]
print (Mph)

[62.11, 15.53, 43.48, 49.69, 111.8]

In [7]:
print ("{:<6} {:<6}".format("Kmh", "Mph"))
print ("=============")
x = 0
while (x<len (Kmh) ):
    print ("{:<6} {:<6}".format(Kmh [x], Mph [x]))
    x += 1

Kmh    Mph
=============
100    62.11
25     15.53
70     43.48
80     49.69
180    111.8

In [15]:
print ("{:<8} {:<8}".format("celsius", "fahrenheit"))
print ("==================")
x = 0
while (x<len (celsius)):
    print ("{:<8} {:<8}".format(celsius [x], fahrenheit [x]))
    x += 1
    print ("==================")

celsius  fahrenheit
==================
10       50.0
==================
20       68.0
==================
24       75.2
==================
35       95.0
==================
50       122.0
==================

## Exercicio

> Crie uma lista 10 valores em metros. Crie uma tabela de conversão a polegadas, pés, jardas e milhas maritimas. Listando o número da linha e o cabeçalho da tabela.

In [43]:
metros = [10,20,30,40,50,60,70,80,90,100]
metros.sort ()
polegadas = [round(x*39.37,2) for x in metros]
pes = [round (x*3.281,2) for x in metros]
jardas = [round(x*1.094,2) for x in metros]
MiMarit = [round (x/1852,2) for x in metros]
print ("{:<8} {:<11} {:<7} {:<8} {:<17}".format("Metros","Polegadas","Pes","Jardas","MiMaritimas" ))
print ("==+=======+============+========+==========+============")
x = 0
while (x<len(metros)):
    print ("{:<8} {:<11} {:<7} {:<8} {:<17}".format( metros [x], polegadas [x], pes [x], jardas [x], MiMarit [x] ))
    x += 1
    print ("==+=======+============+========+==========+============")

Metros   Polegadas   Pes     Jardas   MiMaritimas
==+=======+============+========+==========+============
10       393.7       32.81   10.94    0.01
==+=======+============+========+==========+============
20       787.4       65.62   21.88    0.01
==+=======+============+========+==========+============
30       1181.1      98.43   32.82    0.02
==+=======+============+========+==========+============
40       1574.8      131.24  43.76    0.02
==+=======+============+========+==========+============
50       1968.5      164.05  54.7     0.03
==+=======+============+========+==========+============
60       2362.2      196.86  65.64    0.03
==+=======+============+========+==========+============
70       2755.9      229.67  76.58    0.04
==+=======+============+========+==========+============
80       3149.6      262.48  87.52    0.04
==+=======+============+========+==========+============
90       3543.3      295.29  98.46    0.05
==+=======+============+========+==========+============
100      3937.0      328.1   109.4    0.05
==+=======+============+========+==========+============

## Exercicio 2

> Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho da tabela

In [57]:
Kelvin = [50, 100, 150, 300, 600, 700, 800, 900, 1000]
Kelvin.sort ()
Celsius = [round(x-273.15,2) for x in Kelvin]
Fahrenheit = [round (x-273.15*9/5+32,2) for x in Kelvin]
print ("{:<6} {:<8} {:<8} {:<10}".format("N°", "Kelvin", "Celsius", "Fahrenheit"))
print ("==+=======+============+===========+==")
for v in range(0,len(Kelvin),1):

 x = 0
while (x<len (Kelvin)):
    print ("{:<8} {:<8} {:<8} {:<10}".format(v+1, Kelvin[x], Celsius [x], Fahrenheit [x]))
    x += 1
    print("==+=======+============+===========+==")

N°     Kelvin   Celsius  Fahrenheit
==+=======+============+===========+==
9        50       -223.15  -409.67
==+=======+============+===========+==
9        100      -173.15  -359.67
==+=======+============+===========+==
9        150      -123.15  -309.67
==+=======+============+===========+==
9        300      26.85    -159.67
==+=======+============+===========+==
9        600      326.85   140.33
==+=======+============+===========+==
9        700      426.85   240.33
==+=======+============+===========+==
9        800      526.85   340.33
==+=======+============+===========+==
9        900      626.85   440.33
==+=======+============+===========+==
9        1000     726.85   540.33
==+=======+============+===========+==

## Exercicio 3

> Crie uma lista com 10 pesos em kilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercicios passados.